@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");
body {
  width: 100%;
  height: auto;
  font-family: monospace;
  background-image: url('https://www.fond-ecran-hd.net/Public/uploads/2021-07-03/thumbs-1/windows10.png');
  repeat: no-repeat;
  margin: 0;
  padding: 20px;
  display: block;
  justify-content: center;
  align-items: center;
}

.console {
  margin: auto;
  display: block;
  width: 80%;
  height: 80vh;
  background-color: #131417;
  opacity: 0.95;
  border: 2px solid grey;
  border-top: 24px solid grey;
  border-radius: 8px;
  overflow: auto;
  padding: 10px;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  background-color: #1a1a1a;
  color: white;
}
.output {
  font-family: "Inconsolata";
}
		.input > span {
			margin-right: 10px;
		}
		.input > input {
			background: transparent;
			border: none;
			color: #fff;
			font-family: monospace;
			font-size: 0.8rem;
			outline: none;
			caret-color: white;
			flex-grow: 1;
		}
canvas {
  width: 100%;
}
.rep {
  color: green;
}
.error {
  color: red;
}
h5 {
  text-align: left;
  color: #0ebeff;
  font-size: 0.8rem;
  padding: 0vh 3vh;
}
a {
  color: #0ebeff;
  text-decoration: none;
}
a:hover{color:grey;}



#output p {
  height: auto; /* ou une hauteur en pixels plus petite */
  margin: 0; /* pour enlever les marges */
  padding: 0; /* pour enlever les paddings */
}
#output description {
  color:grey;
}